<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579150856149-6cpa0ht2a97iu7uk444lilu4algvdhmo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579150856149-6cpa0ht2a97iu7uk444lilu4algvdhmo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>579150856149-bkmh4d9b5t2s7785k3cf16g4gp42d05n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAVX03ZGEAaogzC-zKSVdw_zC5DPS5N2Ls</string>
	<key>GCM_SENDER_ID</key>
	<string>579150856149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luminous.mpartner</string>
	<key>PROJECT_ID</key>
	<string>mpartner-56eb4</string>
	<key>STORAGE_BUCKET</key>
	<string>mpartner-56eb4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579150856149:ios:cc07df517cec0fab</string>
	<key>DATABASE_URL</key>
	<string>https://mpartner-56eb4.firebaseio.com</string>
</dict>
</plist>